<%- include('partials/header') -%>

<div class="inner">
  <h1 class="mainHeading">Cart</h1>

  <hr class="categorySeperator">

  <div class="cartHeadingBox">
    <h3 class="cartHeadingItem">Item</h3>
    <h3 class="cartHeadingQuantity">Quantity</h3>
    <h3 class="cartHeadingPrice">Price</h3>
  </div>

  <hr class="itemSeperator">

  <%items.forEach(function(item) {%>
    <div class="cartItem">
      <h4 class="cartName cart-item-font"><%=item.name%></h4>
      <p class="cartQuantity cart-item-font"><%=item.quantity%></p>
      <p class="cartPrice cart-item-font"><span class="rupee-sign">₹</span><%=item.price%></p>
    </div>
  <%})%>

</div>

<%- include('partials/footer') -%>
