<%- include('partials/header') -%>

<a href="/employees"><i class="fas fa-hand-point-left"></i></a>

<div class="inner">

  <h1 class="mainHeading"><%=employee.name%></h1>
  <hr class="categorySeperator">

  <span class="cartOrderDetails">Employee id</span>
  <span class="cartOrderDetails" style="float: right;"><%=employee.id%></span>
  <br><hr class="itemSeperator">

  <span class="cartOrderDetails">Date of Birth</span>
  <span class="cartOrderDetails" style="float: right;"><%=employee.dob.toISOString().substr(0,10)%></span>
  <br><hr class="itemSeperator">

  <span class="cartOrderDetails">Salary</span>
  <span class="cartOrderDetails" style="float: right;"><span class="rupee-sign">₹</span><%=position.salary%></span>
  <br><hr class="itemSeperator">

  <span class="cartOrderDetails">Contact</span>
  <span class="cartOrderDetails" style="float: right;"><%=employee.contact%></span>
  <br><hr class="itemSeperator">

  <span class="cartOrderDetails">Email</span>
  <span class="cartOrderDetails" style="float: right;"><%=employee.email%></span>
  <br><hr class="itemSeperator">

  <span class="cartOrderDetails">Password<i class="view fas fa-eye-slash" style="color:blue;margin-left:20px;"></i></span>

  <span id="passText" class="cartOrderDetails" style="float: right;"><%="*".repeat(employee.password.length)%></span>

</div>

<script type="text/javascript">
  let view = false;
  const viewBtn = document.querySelector(".view");
  const pass = document.getElementById("passText");
  viewBtn.addEventListener("click", ()=>{
    view = !view;
    if(view) {
      viewBtn.classList.remove("fa-eye-slash");
      viewBtn.classList.add("fa-eye");
      pass.textContent = "<%=employee.password%>";
    } else {
      viewBtn.classList.remove("fa-eye");
      viewBtn.classList.add("fa-eye-slash");
      pass.textContent = "*".repeat(<%=employee.password.length%>);
    }
  })
</script>

<%- include('partials/footer') -%>
