<%- include('partials/header') -%>

<div class="sidebox">
  <label for="name">Customer Name</label>
  <input id="name" type="text" name="customerName" form="menu" required>
  <label for="table">Table Number</label>
  <input id="table" type="number" name="tableno" form="menu" required>
  <label for="phone">Customer Phone Number</label>
  <input id="phone" type="text" name="customerPhone" form="menu" min="1000000000" max="9999999999">
  <button type="submit" class="orderButton" form="menu">ORDER</button>
</div>

<form action="/order" method="post" id="menu">

<div class="inner">

  <h1 class="mainHeading">Menu</h1>

  <%rows.forEach(function(row) {%>
    <%if(row.items.length === 0) {} else {%>

    <hr class="categorySeperator">

    <div class="itemCategory" id="<%=row.category.name%>">
      <h1 class="categoryTitle"><%=row.category.name%></h1>
      <h3 class="itemCount"><%=row.items.length%> ITEMS</h3>

      <%row.items.forEach(function(item) {%>

          <hr class="itemSeperator">

          <div class="item">

            <%if( item.isVeg ) {%>
              <img class="itemType" src="images/icons/veg.png" alt="VEG">
            <%} else {%>
              <img class="itemType" src="images/icons/nonveg.png" alt="NON VEG">
            <%}%>

            <h2 class="itemTitle"><%=item.name%></h2>

            <span class="itemPrice"><span class="rupee-sign">₹</span><%=item.price%></span>
            <br>
            <p class="itemDescription"><%=item.description%></p>

            <img class="itemImage" src="<%=item.imagePath%>" alt="<%=item.name%>">

            <div class="quantityDisplayer">

              <% var itemId = item.name.replace(/ /g, "_") %>

              <button type="button" name="button" class="minus-btn <%=itemId%>">-</button>
              <span id="<%=itemId%>_Quantity">0</span>
              <button type="button" name="button" class="plus-btn <%=itemId%>">+</button>
              <input type="hidden" id="<%=itemId%>" name="item<%=item.id%>" value="0">
            </div>
          </div>

      <%})%>
    <%}%>
  <%})%>
</div>

</form>

<script type="text/javascript">
  var plusList = document.querySelectorAll(".plus-btn");
  var minusList = document.querySelectorAll(".minus-btn");

  for(var i=0; i<plusList.length; i++) {
    minusList[i].addEventListener("click", function(){
      const itemId = this.classList[1];
      var quantity = Number( document.querySelector("#" + itemId).value );
      if( quantity>0 ) {
        document.querySelector("#" + itemId).value = quantity - 1;
        document.querySelector("#" + itemId + "_Quantity").innerHTML = document.querySelector("#" + itemId).value;
      }
    })
  }

  for(var i=0; i<plusList.length; i++) {
    plusList[i].addEventListener("click", function(){
      const itemId = this.classList[1];
      var quantity = Number( document.querySelector("#" + itemId).value );
      if( quantity<9 ) {
        document.querySelector("#" + itemId).value = quantity + 1;
        document.querySelector("#" + itemId + "_Quantity").innerHTML = document.querySelector("#" + itemId).value;
      }
    })
  }

</script>

<%- include('partials/footer') -%>
