<%- include('partials/header') -%>

<a href="/dashboard"><i class="fas fa-hand-point-left"></i></a>

<div class="sidebox">
  <label for="name">Customer Name</label>
  <input id="name" type="text" name="customerName" form="menu" required>
  <label for="table">Table Number</label>
  <input id="table" type="number" name="tableno" form="menu" required>
  <label for="phone">Customer Phone Number</label>
  <input id="phone" type="text" name="customerPhone" form="menu" min="1000000000" max="9999999999">
  <button type="submit" class="orderButton" form="menu">ORDER</button>
</div>

<form action="/order" method="post" id="menu">

<div class="inner">

  <h1 class="mainHeading">Order</h1>

  <%rows.forEach(function(row) {%>
    <%if(row.items.length === 0) {} else {%>

    <div class="itemCategory" id="<%=row.category.id%>">
      <hr class="categorySeperator">
      <a style="float:right;" href="#<%=row.category.id - 1%>"><i style="color:purple;font-size:2rem;" class="fas fa-chevron-up"></i></a>
      <h1 class="categoryTitle"><%=row.category.name%></h1>
      <a style="float:right;" href="#<%=row.category.id + 1%>"><i style="color:purple;font-size:2rem;" class="fas fa-chevron-down"></i></a>
      <h3 class="itemCount"><%=row.items.length%> ITEMS</h3>

      <%row.items.forEach(function(item) {%>

          <hr class="itemSeperator">

          <%if(item.imageVersion!=null) {%>
            <div class="item">
          <%} else {%>
            <div class="item" style="height:80px;">
          <%}%>

            <%if( item.isVeg ) {%>
              <img class="itemType" src="https://res.cloudinary.com/amankukretti/image/upload/v1619505974/foodtypeicon/veg_pttncy.png" alt="VEG">
            <%} else {%>
              <img class="itemType" src="https://res.cloudinary.com/amankukretti/image/upload/v1619505975/foodtypeicon/nonveg_vc4orc.png" alt="NON VEG">
            <%}%>

            <h2 class="itemTitle"><%=item.name%></h2>

            <span class="itemPrice"><span class="rupee-sign">₹</span><%=item.price%></span>
            <br>
            <p class="itemDescription"><%=item.description%></p>

            <%if(item.imageVersion!=null) {%>
              <img class="itemImage" src="<%=`https://res.cloudinary.com/amankukretti/image/upload/v${item.imageVersion}/${item.image_public_id}.${item.imageFormat}`%>" alt="<%=item.name%>">
              <div class="quantityDisplayer">
            <%} else {%>
              <div class="quantityDisplayer" style="top:0px;">
            <%}%>

              <% var itemId = item.name.replace(/ /g, "_") %>

              <button type="button" name="button" class="minus-btn <%=itemId%>">-</button>
              <span id="<%=itemId%>_Quantity">0</span>
              <button type="button" name="button" class="plus-btn <%=itemId%>">+</button>
              <input type="hidden" id="<%=itemId%>" name="item<%=item.id%>" value="0">
            </div>
          </div>

      <%})%>
    <%}%>
  <%})%>
</div>

</form>

<script type="text/javascript">
  var plusList = document.querySelectorAll(".plus-btn");
  var minusList = document.querySelectorAll(".minus-btn");

  for(var i=0; i<plusList.length; i++) {
    minusList[i].addEventListener("click", function(){
      const itemId = this.classList[1];
      var quantity = Number( document.querySelector("#" + itemId).value );
      if( quantity>0 ) {
        document.querySelector("#" + itemId).value = quantity - 1;
        document.querySelector("#" + itemId + "_Quantity").innerHTML = document.querySelector("#" + itemId).value;
      }
    })
  }

  for(var i=0; i<plusList.length; i++) {
    plusList[i].addEventListener("click", function(){
      const itemId = this.classList[1];
      var quantity = Number( document.querySelector("#" + itemId).value );
      if( quantity<9 ) {
        document.querySelector("#" + itemId).value = quantity + 1;
        document.querySelector("#" + itemId + "_Quantity").innerHTML = document.querySelector("#" + itemId).value;
      }
    })
  }

</script>

<%- include('partials/footer') -%>
