<%- include('partials/header') -%>

<div class="customerDetails">
  <label for="name">Customer Name</label>
  <input id="name" type="text" name="customerName" form="menu" required>
  <label for="phone">Customer Phone Number</label>
  <input id="phone" type="text" name="customerPhone" form="menu" required min="1000000000" max="9999999999">
  <button type="submit" class="orderButton" form="menu">ORDER</button>
</div>

<form action="/cart" method="post" id="menu">

<div class="inner">

  <h1 class="mainHeading">Menu</h1>

  <%categoryList.forEach(function(category) {%>
    <hr class="categorySeperator">

    <div class="itemCategory" id="<%=category.categoryName%>">
      <h1 class="categoryTitle"><%=category.categoryName%></h1>
      <h3 class="itemCount">3 ITEMS</h3>

      <%itemList.forEach(function(item) {%>
        <%if(item.category_id === category._id) {%>

          <hr class="itemSeperator">

          <div class="item">
            <h2 class="itemTitle"><%=item.itemName%></h2>

            <%if( item.veg ) {%>
              <img class="itemType" src="images/icons/veg.png" alt="VEG">
            <%} else {%>
              <img class="itemType" src="images/icons/nonveg.png" alt="NON VEG">
            <%}%>

            <span class="itemPrice"><span class="rupee-sign">₹</span><%=item.itemPrice%></span>
            <br>
            <p class="itemDescription"><%=item.itemDescription%></p>
            <img class="itemImage" src="images/<%=category.categoryName%>/<%=item.itemName%>.jfif" alt="VEG WHOPPER">

            <div class="quantityDisplayer">

              <% var itemId = item.itemName.replace(/ /g, "_") %>

              <button type="button" name="button" class="minus-btn <%=itemId%>">-</button>
              <span id="<%=itemId%>_Quantity">0</span>
              <button type="button" name="button" class="plus-btn <%=itemId%>">+</button>
              <input type="hidden" id="<%=itemId%>" name="<%=item.itemName%>" value="0">
            </div>
          </div>

        <%}%>
      <%})%>
  <%})%>
</div>

</form>

<script type="text/javascript">
  var plusList = document.querySelectorAll(".plus-btn");
  var minusList = document.querySelectorAll(".minus-btn");

  for(var i=0; i<plusList.length; i++) {
    minusList[i].addEventListener("click", function(){
      const itemId = this.classList[1];
      var quantity = Number( document.querySelector("#" + itemId).value );
      if( quantity>0 ) {
        document.querySelector("#" + itemId).value = quantity - 1;
        document.querySelector("#" + itemId + "_Quantity").innerHTML = document.querySelector("#" + itemId).value;
      }
    })
  }

  for(var i=0; i<plusList.length; i++) {
    plusList[i].addEventListener("click", function(){
      const itemId = this.classList[1];
      var quantity = Number( document.querySelector("#" + itemId).value );
      if( quantity<9 ) {
        document.querySelector("#" + itemId).value = quantity + 1;
        document.querySelector("#" + itemId + "_Quantity").innerHTML = document.querySelector("#" + itemId).value;
      }
    })
  }

</script>

<%- include('partials/footer') -%>
